<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter user name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="lastName">Enter user last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <label for="age">Enter user's age</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>
    <br/>
    <label for="login">Enter user login</label>
    <input type="text" th:field="*{login}" id="login"/>

    <label for="password">Enter user password</label>
    <input type="text" th:field="*{password}" id="password"/>



   <!-- <ul>
        <li th:each="role : ${allRoles}">
            <input type="checkbox" name="sel_roles" th:field="${user.roles}" th:value="${role}"
                   th:text="${role}" />
        </li>
    </ul>-->


    <label>Roles:
        <input type="checkbox"  name="allRoles"
               th:each="role : ${allRoles}"
               th:text="${role.getRole()}"
               th:value="${role.getRole()}"
        />
    </label>
    <br/>
    <br/>
    <input type="submit" value="Update"/>
</form>

<form
        th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <br/>
    <input type="submit" value="Delete"/>
</form>

<br/>

<a href="/addUser">Add user</a>

<br/>
<br/>
<a href="/allUsers">Get list of all users</a>
<br/>
<br/>

<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
<br/>

</body>
</html>


<!--
name="${_csrf.parameterName}" value="${_csrf.token}"-->
